<div class="fw-bold p-3 mb-2 text-white" style="background-color: #343a40;">
  <div class="text-center">
    <h1>Movies info</h1>
  </div>
  <div class="text-end">

    <button class="btn btn-success" style="width:10% ;" type="button">
      <a
        href="/user/register"
        class="text-light"
        style="text-decoration: none;"
      >Register</a>
    </button>
    <button class="btn btn-success" style="width:10% ;" type="button">
      <a
        href="/user/login"
        class="text-light"
        style="text-decoration: none;"
      >Login</a>
    </button>
  </div>
</div>