<div class="fw-bold p-3 mb-2 text-white" style="background-color: #343a40;">
  <div class="text-center">
    <h1>Movies info</h1>
  </div>

  {{#if haveUser}}
    <div class="text-end d-flex justify-content-end gap-4">

      <h3>Xin chào {{nameUser}}</h3>
      <form action="/user/logout" method="POST">
        <button class="btn btn-success text-light" type="submit">
          Logout
        </button>
      </form>

    </div>

  {{else}}
    <div class="text-end">

      <button class="btn btn-success" style="width:10% ;" type="button">
        <a
          href="/user/register"
          class="text-light"
          style="text-decoration: none;"
        >Register</a>
      </button>
      <button class="btn btn-success" style="width:10% ;" type="button">
        <a
          href="/user/login"
          class="text-light"
          style="text-decoration: none;"
        >Login</a>
      </button>
    </div>

  {{/if}}

</div>