<nav
  class="navbar navbar-light mt-3 text-white"
  style="background-color: #343a40;"
>
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">Home</a>
    {{! <form action="/logout" class="d-flex" method="post">
      <button
        class="btn btn-success"
        name="option"
        value="logout"
        type="submit"
      >Logout</button>
    </form> }}

    <form class="d-flex my-3 w-25" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-success" type="button">
        Search
      </button>
    </form>
  </div>
</nav>